DB_URL=postgresql+psycopg2://feedrh:feedrh@localhost:5432/feedrh

MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=Sistema de Recrutamento
MAIL_USE_TLS=true
MAIL_USE_SSL=false
APP_URL=http://localhost:4200
